/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require layout
 *= require_tree .
*/


.MetroColors {
  background: #ff0097;
  background: #a200ff;
  background: #ff0097;
  background: #e51400;
  background: #00aba9;
  background: #8cbf26;
  background: #996600;
  background: #f09609;
  background: #1ba1e2;
  background: #339933;
}